@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-borda-input: #ccc;
    --cor-principal: #00a407;
    --cor-secundaria: #218838;
    --cor-texto-botao: #fff;
    --sombra-input: 0 0 10px #00000021;

    /* Rodapé */
    --background-rodape: #333;
    --badge-versao-homol: #d7d722;
    --cor-texto-rodape: #ccc;
    --espessura-rodape: 3vh;

    /* Modal */
    --background-modal: #000000b1;
    --cor-icone-fechar-modal: #aaa;
    --cor-icone-fechar-modal-hover: #ff0000;
    --sombra-modal: 0 0 10px #000000d1;
}